html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.root {
  flex-grow: 1;
}

.container {
  background-image: url('../public/BG-prism-2.svg');
  /* height: 100vh;
  width: 100vw; */
}

.first-container {
  height: 100vh;
  width: 100vw;
}

.space {
  height: 19vh;
}

.white-space {
  height: 5vh;
}

.title {
  color: #eaeaea;
  font-weight: bolder !important;
  margin-bottom: 3% !important;
  margin-top: 10% !important;
}

.subtitle {
  color:darkgray;
}

.navbar {
  background-color: #eaeaea;
}

.navbar-title {
  flex-grow: 1;
  font-weight: bolder !important;
  color: #532f18;
  margin-left: 15px !important;
}

.navbar-btn {
  color: #532f18 !important;
}

.illustration {
  height: auto;
  width: 100%;
  max-width: 70vw;
  margin-top: 5% !important;
}

.left-button {
  margin-top: 10% !important;
  margin-right: 2% !important;
  transition: .1s;
  margin-bottom: 2% !important;
}

.right-button {
  margin-top: 10% !important;
  margin-left: 2% !important;
  transition: .1s;
  margin-bottom: 2% !important;
}

.not-transparent-btn {
  background-color: #eaeaea !important;
  border-width: 2px !important;
  border-color: #eaeaea !important;
  color: #272727 !important;
}

.transparent-btn {
  background-color: transparent !important;
  border-width: 2px !important;
  border-color: #eaeaea !important;
  color: #eaeaea !important;
  transition: .1s;
}

.transparent-btn:hover {
  background-color: #eaeaea !important;
  color: #272727 !important;
}

.right-button:hover, .left-button:hover {
  margin-top: 9% !important;
}

.user-container {
  background: rgba(255, 255, 255, .5);
}

.user-logo {
  filter: grayscale(100%); 
  opacity: 50%;
  height: auto;
  width: 100%;
  transition: .5s;
}

.user-logo:hover {
  filter: grayscale(0%);
  opacity: 100%;
}

.footer-container {
  padding: 1.5%;
  background-color: #532f18;
  opacity: .8;
}

#mapid {
  height: 180px;
}

.leaflet-container {
  width: 100%;
  height: 180px;
}

.sigCanvas {
  background-color: '#ffffff';
}